body {
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   background-position: center;
   background-color: #273f4d;
}

.navbar {
   background-color: black;
   height: 70px;
   box-shadow: 0px 3px 30px black;
}

#blog-title {
   /* margin-top: 15px; */
   font-size: xx-large;
   /* font-family: Arial, Helvetica, sans-serif; */
   letter-spacing: 4px;
   font-weight: bold;
   color: #D3D9D4;
}

#inputBlogTitle {
   border-radius: 0px;
   box-shadow: 0px 0px 5px black;
   height: calc(100vh / 12);
   font-size: larger;
   background-color: #d3d9d4;
   border: none;
   margin-bottom: 20px;
   margin-right: 50px;
}

#inputBlogTitle:focus {
   box-shadow: 0px 0px 10px #D3D9D4;
}

#insert-image {
   height: 70%;
   width: 75px;
   float: left;
   /* margin-left: 50px; */
   /* background-color: none; */
   border: 2px solid #748D92;
   padding: 10px;
   box-shadow: 0px 0px 5px #000000;
}

#insert-image :hover {
   cursor: pointer;
}

#contentbox {
   margin-top: 30px;
   /* border: 2px solid red; */
   width: 100%;
   background: linear-gradient(0deg, rgba(18, 78, 102, 1) 6%, rgba(116, 141, 146, 1) 84%);
}

#prevImg{
   margin: 30px;
   width: 50%;
   box-shadow: 7px 7px 10px #00000040;
}

#editorbox {
   background-color: #d3d9d4ae;
   height: 500px;
   box-shadow: 0px 0px 15px #36405ac6;
   width: 80%;
   margin-bottom: 40px;
   border: 2px solid #212A31;
   overflow-y: scroll;
}

#editorbox::-webkit-scrollbar {
   display: none;
}

#editorbox:focus {
   box-shadow: 0px 0px 20px #ad9c73e8;
}

#publish-blog {
   margin-bottom: 50px;
   margin-left: 10%;
   margin-top: 40px;
   width: 40%;
   max-width: 350px;
   aspect-ratio: 5;
   background-color: #2E3944;
   font-size: large;
   font-weight: 500;
   color: #D3D9D4;
   box-shadow: 0px 0px 10px #2E3944;
}

#publish-blog:hover {
   background-color: #324353;
}

#publish-blog:active {
   background-color: #2E3944;
}

@media screen and (min-width: 1000px) {
   main {
      display: grid;
      grid-template-columns: 4fr 1fr;
   }

   #side-info {
      display: grid;
      grid-template-rows: 0.7fr 6fr 1fr;
      width: 20%;
      height: calc(100vh - 70px);
      position: fixed;
      right: 0;
      box-shadow: 0px 0px 10px #FFCB69;
      background: linear-gradient(0deg, rgb(255, 255, 255) 0%, #748D92 100%);
      overflow-y: scroll;
   }

   #publish-blog {
      width: 70%;
   }
}

@media screen and (max-width: 1000px) {
   #blog-details {
      display: none;
      background: linear-gradient(0deg, rgb(255, 255, 255) 0%, #748D92 100%);
   }

   #side-info {
      width: 100vw;
      background: linear-gradient(0deg, rgb(255, 255, 255) 0%, #748D92 100%);
   }
}
