body {
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   background-position: center;
}

.card {
   margin: 1.5%;
   width: 30.33%;
   background-color: #f1dca760;
   box-shadow: 0px 0px 15px #FFCB69;
   height: 45vh;
   float: left;
   min-height: 300px;
}

.card:hover {
   cursor: pointer;
   box-shadow: 0px 0px 20px #fdc358;
   transition: ease-in-out 0.2s;
   transform: scale(1.01);
}

.card-img-top {
   height: 55%;
   width: 90%;
   margin: auto;
   margin-top: 0.6em;
}

#card-title {
   font-size: xx-large;
   color: rgba(97, 59, 3, 0.871);
   text-shadow: 1px 1px 2px #ffcb69c3;
}

@media screen and (max-width: 1000px){
   
   .card{
      width:47%;
      transition:ease 1s;
   }
}

@media screen and (max-width: 650px){
   
   .card{
      width:90%;
      margin: 5%;
   }
}

.fa-solid {
   color: red;
}