body {
   background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position:center; 
}

.card {
   margin: 1.5%;
   width: 30.33%;
   background-color: #f1dca760;
   box-shadow: 0px 0px 15px #FFCB69;
   height: 300px;
}

.card-img-top {
   height: 65%;
}

#card-title {
   font-size: xx-large;
   color: rgba(97, 59, 3, 0.871);
   text-shadow: 1px 1px 2px #ffcb69c3;
}