body {
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   background-position: center;
}

.navbar {
   background-color: rgb(121, 125, 98);
   height: 70px;
   box-shadow: 0px 3px 30px black;
}

.dropdown-menu {
   background-color: #997b66b5;
}

.dropdown-item {
   padding-top: 10px;
   padding-bottom: 10px;
}

.dropdown-item:hover {
   background-color: #997b66ca;
}

.fa-solid:hover {
   transform: scale(1.1);
}

.fa-solid:active {
   transform: scale(1);
}

#nav-control2 {
   height: calc(100vh - 70px);
   position: fixed;
   background-color: #ffcb697c;
   display: flex;
   flex-direction: column;
   box-shadow: 2px 0px 20px black;
   width: 200px;
}

#screen {
   margin-left: 200px;
   width: 100%;
   height: 100%;
}

#cover-screen {
   margin-left: 200px;
   width: 100%;
   height: 100%;
   position: fixed;
   background-color: rgba(0, 0, 0, 0.586);
   display: none;
   transition: ease 1s;
}

#searchbar {
   height: 100%;
   width: 25%;
   border-left: 5px outset #ded3bcdc;
   position: fixed;
   left: 100%;
   background-color: #ffdfa09f;
   box-shadow: 0px 0px 15px;
   transition: ease 1s;
}

#user-pic:hover {
   transform: scale(1.1);
}

#user-pic:active {
   transform: scale(1);
}

.nav-icons2:hover {
   background-color: #d7c28d4e;
   box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.429);
   border-radius: 10px;
   cursor: pointer;
}

.nav-icons2:active {
   box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.395);
}

#search-box {
   width: 90%;
   height: 40px;
   margin-top: 25px;
   margin-bottom: 2px;
   border-radius: 20px;
   background-color: white;
}

.glow-search {
   border: 1px solid #0077ff;
   box-shadow: 0px 0px 10px #0077ff;
   transition: ease-in-out 0.1s;
}

.glow-icon {
   color: #0077ff;
   transition: ease 0.1s;
}

#searching {
   width: 85%;
   height: 100%;
   border-radius: 0px 20px 20px 0px;
   float: right;
   border: none;
}

#searching:focus {
   padding-right: 10px;
   outline: none;
}

.bi-search {
   width: 15%;
   font-size: x-large;
}

#search-list {
   width: 90%;
   height: auto;
   border: 2px solid #371f1b61;
   border-radius: 20px;
   background-color: #fbe1b0b4;
   display: none;
   cursor: pointer;
}

#search-item {
   width: 100%;
   font-size: large;
   border-bottom: 2px solid #4f2c26c0;
   border-radius: 20px;
   padding: 5px;
   cursor: pointer;
}

#search-item:hover {
   background-color: #2a191017;
}

@media screen and (orientation:landscape) {

   #nav-control {
      display: none;
   }

   #profile-dropdown {
      display: none;
   }
}

@media screen and (orientation:portrait) {
   #nav-control2 {
      display: none;
   }

   #screen {
      margin-left: 0px;
      height: calc(100% - 60px);
   }
}

@media screen and (max-width:1000px) and (orientation:landscape) {
   .nav-name {
      display: none;
   }

   #nav-control2 {
      width: 90px;
   }

   #screen {
      margin-left: 90px;
   }
}