body {
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   background-position: center;
  
   background: rgb(211,217,212);
background: linear-gradient(0deg, rgba(211,217,212,1) 0%, rgba(255,255,255,1) 100%);
 
   background-color: white;
   backdrop-filter: blur(3px);
}

#title {
 
   text-align: center;
   text-shadow: 1px 1px 5px #ffffff; 

   padding-top: 1.2em;
 

}

#create {
   font-weight: 450;
   text-align: center;
   padding-top: 1em;
   /* color:white; */
}

#logintitle{
   /* color: #007daf; */
   font-weight: 500;
   padding-top: 0.8em;
   font-size: 1.4em;
}

#formcontent {
   /* color: white; */
   color: black;
   font-weight: 450;
   /* padding:30px; */
}

#submit {
   display: block;
   margin: auto;
   border-radius:30px;
   color: rgb(255, 255, 255);
   background-color: #000000;
   /* margin-bottom: 20px; */
   width: 8em;
  
   margin-top: 1.5em;
   margin-bottom: 0;
   padding: 0.5em 1.3em;

}

#submit:hover {
   /* background-color: rgba(255, 228, 105, 0.877); */
   background-color: rgb(74, 74, 74);

   /* color: rgb(0, 0, 0); */
   /*offset-x | offset-y | blur radius | spread radius | color*/
   /* box-shadow: 0 0.5em 0.5em -0.4em rgb(0, 0, 0); */
   /* transform: translateY(-0.25em); */
   cursor: pointer;
}

#box {
   /* height: 34.5em; */
   margin-left: auto;
   margin-right: auto;
   /* margin-bottom: 30px;  */
   /* padding-bottom:1.3em; */
   /* height: 420px; */
   width: 35em;
   /* box-shadow: 0 0.5em 0.5em -0.4em rgba(0, 0, 0, 0.524); */
   border: 1px solid #a2a9a367;
   box-shadow: 0 0.5em 0.5em -0.4em #0000004c;
   /* box-shadow: 0px 0px 15px 0px #00000044; */

   background-color: #D3D9D4;
   color:white;
   background-color: #D3D9D4;
   border-radius: 5px;
}
#box1{
   padding: 1em 1.5em;
   margin-left: auto;
   margin-right: auto;
   width: 25em;
   border: 1px solid #a2a9a367;

   box-shadow: 0 0.5em 0.5em -0.4em #0000004c;
   background-color: #D3D9D4;
   border-radius: 5px;
}

a {
   /* color: rgb(0, 0, 0); */
   font-weight: 600;
   color: #007daf;
   /* text-shadow: 1px 1px 1px rgb(0, 0, 0); */

}
#passfor{
   color:rgb(43, 43, 43);
   
   font-size: small;
   font-weight: 400;
}
#passfor:hover{
   color:#515151b0;
   /* font-size: small; */
}

a:hover {
   text-decoration: none;
   /* color: rgb(255, 228, 105); */
   color: rgb(74, 74, 74);
   /* text-shadow: 1px 1px 2px rgb(0, 0, 0); */

}

input {
   box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}


@media(max-width:992px) {
   /* #title {
      margin-top: 15%;
   } */
}

@media(max-width:576px){
   #box {
      padding: 15px;
      width: 28em;
      
      margin: auto;
      margin-bottom: 30px;
     

   }

   #bodybg {
      background-position: right;
   }

}

@media(max-width:470px) {
   #title {
      margin-top: 7%;
   }

   #box {
      width: 85%;
      padding-left: 0;
      padding-right: 0;

   }
   #box1{
      width: 85%;
      padding-left: 0.5em;
      padding-right: 0.5em;
   }

}