body {
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   background-position: center;
}

#box {
   padding-top: 1em;
   display: flex;
   flex-direction: column;
   margin: auto;
   margin-top: 2.7em;
   width: 88%;
   margin-bottom: 0;
   border: 2px solid #ffffff;
   background-color: #ffffff;

}

#title {
   margin: auto;
   min-width: 30%;
   /* height: 4em; */
   background-color: #2E3944;
   margin-top: 3em;
   padding-left: 0.8em;
   padding-right: 0.8em;
   min-height: 3.5em;
   position: relative;
   top: -5.8em;

}

#titletext {
   color: white;
   font-size: xx-large;
   font-weight: 500;
   /* margin-top: 0; */
   text-shadow: 1px 1px 4px #000000b8;
   letter-spacing: 2.5px;
}

#imageblog {
   background-repeat: no-repeat;
   /* background-attachment: fixed; */
   background-size: cover;
   background-position: center;
   width: 50%;
   /* height: 20.5em; */
   position: relative;
   top: -3.5em;
   margin: auto;
   padding:14px;
   box-shadow: inset #2E3944 0 0 0 4px, inset #748D92 0 0 0 10px, inset #D3D9D4 0 0 0 14px;

}

#images {
   box-shadow: inset #4e423d 0 0 0 4px, inset #846e63 0 0 0 10px, inset #c0a698 0 0 0 14px;
   margin: auto;
   
}

#content {
   background-color: #2E3944;
   margin: auto;
   margin-top: 2em;
   margin-bottom: 2em;
   padding: 2em;
   width: 90%;
   /* padding-top: 1em; */
   padding-left: 3em;
   padding-right: 3em;
   color: white;
   font-weight: 300;
   font-size: large;
   text-shadow: 2px 2px 2px #000000b8;
   /* background-color: black; */
   position: relative;
   top: -2.5em;
}

#author {
   font-weight: 400;
   /* text-shadow: none; */
   /* box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);  */

   color: rgb(255, 255, 255);
}

#likesbox {
   position: relative;
   align-self: flex-end;

   top: -1em;
   left: -2.7em;
   text-align: center;
   /* padding-top: 0.8em; */
   color: #fdf7b7;
   font-size: x-large;
   font-weight: 400;
}

#comment{
   width: 100%;
   padding: 12px 20px;
   /* margin: 8px 0; */
   /* box-sizing: border-box; */
   background-color: #d4c998da;
   /* text-shadow: 2px 2px 2px #ffffffb8; */

   color: rgb(0, 0, 0);
   border: 2px solid #ffffff9c;
   border-radius: 5px;

}

#userprofile {
   color: rgb(0, 0, 0);

   position: relative;
   top: -3.5em;
   left:4em;
   font-size:large;
   color: #fdf7b7;
   text-shadow: 1px 1px 2px #00000086;
   border-radius: 3px;

}

#pfp {
   /* margin-left: 4em; */
   background-repeat: no-repeat;
   /* background-attachment: fixed; */
   background-size: cover;
   background-position: center;
   width: 3em;
   height: 3em;
   margin-right: 0.4em;
   border-radius: 50%;
border: 2px solid #fdf7b7;
/* box-shadow: 1px 1px 2px #d0d0d086; ; */
}

@media(max-width:1040px) {
   #box {
      width: 100%;
      /* display: block; */
      /* margin-right: 0;
      margin-left: 0%; */
   }
}